.hero-title {
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 50px;
}

.shop-name {
    color: var(--accent-color);
    font-weight: 600;
}

.category-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 0px;
    margin-top: 50px;
}

.product-price-index {
    margin-left: 10px;
}