.profile-title {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.profile-info {
    padding: 20px;
    width: 40%;
    background-color: var(--background-color);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--accent-color);
    margin-bottom: 40px;
}

.profile-info-subtitle {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-email {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.product-header {
    display: flex;
}

.add-product-button form {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
}

.delete-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.delete-button {
    border: none;
    background-color: transparent;
    color: var(--accent-color);
    padding: 8px 12px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: transparent;
    color: var(--warning-color);
}

.review-card {
    margin-right: 20px;
}

.review-rating {
    margin-bottom: 10px;
    margin-left: 10px;
}

.star-on {
    color: var(--primary-color);
}

.star-off {
    color: var(--accent-color);

}

.review-content {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: var(--product-card-width);
}