<div class='login-form'>

<h1>Editing review</h1>

<%= render "form", product: @product, review: @review %>

<br>

<div>
 <!-- <%= link_to "Show this review", product_review_path(@review) %> |-->
  <%= link_to "Back to your profile", profile_path(current_user.id) %>
</div>
</div>
